[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mockdown = "0.1.0"
dataclasses-json = "*"
Arpeggio = "*"
mypy = "*"
numpy = "*"
pyyaml = "*"

[requires]
python_version = "3.8.2"

[pipenv]
allow_prereleases = true
